body {
    background: #fafafa;
    font-family: Arial;
}

.container {
    max-width: 600px;
    margin: 40px auto;
}

textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
}

button {
    width: 100%;
    padding: 12px;
    background: #ff914d;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
}

.result {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-top: 20px;
}
.result pre {
    white-space: pre-wrap;     
    word-wrap: break-word;
    overflow-x: auto;
    line-height: 1.8;
}


